<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="" href="https://yarnpkg.com/en/package/normalize.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      *{
        font-family: 'Roboto', sans-serif;
      }
        .lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #51d88a;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

    </style>
    <title>Tablas de comidas</title>
</head>
<body>
<div id="app" class="flex container mx-auto md:my-3">
        <div v-if="loading" class="loading fixed pin flex justify-center items-center bg-white"><div class="lds-default "><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
   <div class="main_menu mx-auto pr-6">
       <ul class="list-reset">
           <li><a @click="pagina = 'tabla'" href="#" :class="{ 'text-green-light': pagina == 'tabla'}" class="text-green-dark hover:text-green-darker p-2 block text-xl"><i class="fas fa-table"></i></a></li>
           <li><a @click="pagina = 'form'"href="#" :class="{ 'text-green-light': pagina == 'form'}" class="text-green-dark hover:text-green-darker p-2 block text-xl"><i class="fas fa-plus"></i></a></li>
           <li><a @click="pagina = 'lista_compra'"href="#" :class="{ 'text-green-light': pagina == 'lista_compra'}" class="text-green-dark hover:text-green-darker p-2 block text-xl"><i class="fas fa-shopping-cart"></i></a></li>
       </ul>
   </div>
   <main class="w5/6 container flex justify-center">
<table class="table-auto border-collapse" v-if="pagina == 'tabla'">
    <tr>
        <td></td>
        <th class="border border-green-light text-green-darker p-2" v-for="(dia, index) in optionsDias">{{ dia }}</th>
    </tr>
    <tr v-for="horario in optionHorario">
        <th class="border border-green-light text-green-darker p-2">{{horario}}</th>
        <td class="border border-green-light text-green-darker p-2" v-for="(dia, index) in optionsDias"></td>
    </tr>
</table>
    <form class="flex flex-col w-64" v-if="pagina == 'form'">
        <select class="outline-none my-2" v-model="dia" @blur="validarDia" :class="{ 'border border-red-light': diaError }" >
            <option value="">Seleciona el día</option>
            <option v-for="(dia, index) in optionsDias">{{ dia }}</option>
        </select>
        <div v-if="diaError" class="diaErrorMensaje text-red-light text-sm">
          {{ diaErrorMensaje }}
        </div>
        <select class="outline-none text-center my-2" v-model="horario" @blur="validarHorario" :class="{ 'border border-red-light': horarioError }">
            <option value="">Horario</option>
            <option v-for="(horario, index) in optionHorario">{{ horario }}</option>
        </select>
        <div v-if="horarioError" class="horarioErrorMensaje text-red-light text-sm">
          {{ horarioErrorMensaje }}
        </div>
        <input type="text" class="outline-none my-2 p-1" placeholder="Nombre del plato" v-model="nombre" @blur="validarNombre" :class="{ 'border border-red-light': nombreError }">
        <div v-if="nombreError" class="horarioErrorMensaje text-red-light text-sm">
          {{ NombreErrorMensaje }}
        </div>
        <span class="flex">
        <input name="inputIngrediente" type="text" class="outline-none my-2 p-1" placeholder="Ingrediente" ref="inputIngrediente" v-model="nuevoIngrediente" @keyUp.enter.prevent="anyadirIngrediente" :class="{ 'border border-red-light': ingredienteError }"> <button class="ml-auto button bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow focus:outline-none" @click.prevent="anyadirIngrediente">+</button>
        </span>
        <ul>
            <li v-for="ingrediente in ingredientes">
                {{ ingrediente }}
            </li>
        </ul>
        <div v-if="ingredienteError" class="horarioErrorMensaje text-red-light text-sm">
          {{ ingredienteMensajeError }}
        </div>
        <input type="submit" value="Añadir" class="my-2 button bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow focus:outline-none cursor-pointer" @click.prevent="validarIngredientes" @click="anyadirPlato">
    </form>
    <div class="lista_copmra" v-if="pagina == 'lista_compra'">
        <ul>
            <li v-for="ingrediente in listaCompra">
                {{ ingrediente }}
            </li>
        </ul>
    </div>
   </main>
</div>
</body>
</html>